 /* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Orbitron', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
  text-align: center;
  background:#E8E8E8  ;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2
{
	color: #093a58;
}

a{
  text-decoration: none;
  color: #ffffff;

}

img{
  max-width: 100%;
  box-shadow: 0px 5px 20px 5px black;
 }

#Contact{
 border-bottom: 3px solid;
   margin: 5% 15%;

}


/* ================================= 
  Base Layout Styles
==================================== */
/* ---- Navigation ---- */

.main-header{
  background: #000000;
}

.container {
		width: 90%;
		margin: 0 auto;
	}

a:hover{
	color: #36454f;
}

.name,
.main-nav {
  display:block;
  text-align:center;
  padding: 10px 10px;
  text-transform: uppercase;
}

.name{
  padding-top:0px;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}



.main-footer {
	text-align: center;
  border-top: 1.5px solid #323232;
  padding: 2em 0;
  margin-top: 30px;
  border-bottom: 3px solid;
  margin-left: 5%;
  margin-right: 5%;
  
  
}


#portty{
  border-bottom: 3px solid;
  margin: 8% 15%;
  
}

.banner{
margin-top: 10px;

}

#name{
float: left;
}



#BTT a{
 color: black;
 float: right;
}


.footer-nav{
	display: none;
}



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

/* ================================= 
  Base Layout Styles
==================================== */

.container {
		width: 90%;
		margin: 0 auto;
	}
 


.main-nav li{
  display:inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

#profile-pic{
margin-top:10px;
float: right;
width: 35%;
}

/* ----COLUMNS ---- */
.primary{
clear:both;
}

.secondary{
clear:both;

}

.banner img {
		margin: auto;
}
.banner p{
    width: 65%;
		float: left;
    text-align: left;
}

.banner{
margin-top: 3%;


}

 
.first,
.second,
.third{
  width: 50%;
  float: left;
  padding-left: 25px;

}

/* ---- FOOTER ---- */

#BTT{
	display: none;
}


.footer-nav {
padding-top: 0px;
display:inline-block;
margin-left: 15px;
float: right;
padding-right: 20px;

}

.footer-nav a{
color: black;
}

/* ---- Float clearfix ---- */
	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
}
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 1024px) {
.container {
		width: 95%;
		margin: 0 auto;
	}


.name{
float: left;
padding-top: 20px;
padding-bottom: 0px;
margin-bottom: 0px;
}

.main-nav{
float:right;
padding-bottom: 0px;
padding-top: 60px;
}

.col{
margin: auto;
width: 100%;
}

.banner{
margin-top:10px;

}

.banner img {
		margin: auto;
    width: 35%;
}
.banner p{
    width: 63%;
		float: left;
    text-align: left;
}

.first,
.second,
.third{
width: 33.3%;

}


}

