@media screen and (min-width:320px){

/***********************
HEADER
************************/  
  
header, h1, h2, a {
  background-image: url("/img/stardust.png");
  font-size: 24px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  color:  #cb4154;
  text-align: center;
  text-decoration: none;
  padding: none;
  margin: none;
  }
  
 nav li{
    display:inline-block;
    list-style: none;
    margin: 0 1px 10px;
	  padding: 20px;
    border-style: groove;
    border-radius: 10px;
    float: none;
  }
  
 

/*****************
BODY
******************/
.images {
    width: 100%;
    height: auto;
  
  }  


  
#imaggyy li {
   list-style: none;
   float: left;
   width: 100%;
   list-style: none;
  }
  
body, h2 {
     
    font-family:'Orbitron', 'sans-serif';
    text-align: center;
    background-image: url("/img/stardust.png");
    background-size: contain;
  }

body, p {
  font-size: 18px;
  color: #F8F8FF;
  }
  
/****************
  footer & such
*****************/  
.bottom-list{
  color: #cb4154;
  list-style: none;
  }
.details{
float:left;
font-size:16px;
  
  }  
  
#name{
  float: left;
  display:inline-block;
  }
#BTT {
  float: right;
  color: #F8F8FF;
  font-size: 16px;
  display:inline-block;
  }

#contact {
  margin-top: 50px;
  font-size: 24px;
  }  
  
  
a:link {
    color: black;
}
a:visited {
    color: grey;
}
a:hover {
    color: white;
}
  
}